header{
    height: 80px;
    background-color: #2C3D50;
    color: white;
    padding-top: 25px;
}

.fa-bars{
    border: 1px solid white;
    padding: 5px;
}

.mt-container{
    width: 70%;
    margin: 0 auto;
}

.p-container{
    width: 75%;
    margin: 0 auto;
}

.f-container{
    width: 78%;
    margin: 0 auto;
}

ul{
    margin-top: 5px;
    list-style: none;
    font-size: 13px;
}

ul li{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

li:hover{
    color: #1ABC9A;
}


.mt-jumbotrone{
    background-color: #1ABC9A;
    text-align: center;
    color: white;
    padding: 40px;
}

.mt-jumbotrone img{
    width: 120px;
}

.box-jumbo h1{
    font-size: 45px;
    margin-top: 20px;
}

.linea{
    font-size: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.linea .dx{
    width: 10%;
    height: 4px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid white;
    margin: 0px 25px;
}

.linea .black{
    background-color: #000;
    border-color: black;
}

.box-titolo{
    text-align: center;
    color: black;
    margin-bottom: 5px;
}

.box-img{
    position: relative;
    margin-bottom: 10px; 
}

.layover-img{
    
    position: absolute;
    background-color: rgba(0, 200, 100, 0.5);
    top: 0;
    left: 0;
    border-left: 12px solid white;
    border-right: 12px solid white;
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;  
}

.portfolio .p-container .row .box-img:hover .layover-img{
    z-index: 1;
}


.box-img img{
    width: 100%;
    cursor: pointer;
}

.box-btn{
    text-align: center;
}

.about{
    padding: 40px;
    background-color: #1ABC9A;
    color: white;
}
.box-about{
    text-align: center;
}
.box-paragrafi{
    margin-top: 5px;
    margin-bottom: 5px;
}

.download{
    padding: 10px 15px;
    background-color: #1ABC9A;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

.download:hover{
    background-color: lightgray;
    color: black;
}

.contact, .about, .portfolio, footer{
    margin-top: 40px;
}

.titolo-contact{
    text-align: center;
}

.form-custom{
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
}
 
.custom-btn{
    background-color: #1ABC9A;
    border-color: #1ABC9A;
    padding: 8px 13px;
    border-radius: 5px;
}

.custom-btn:hover{
    background-color: lightgray;
    color: black;
    border: 1px solid lightgrey;
}

.box-copy{
    font-size: 10px;
    padding-top: 32px;
    text-align: center;
    color: white;
}

.margin-b{
    margin-bottom: 0px;
}

span{
    color: #1ABC9A;
}

.top-footer{
    padding-top: 30px;
    background-color: #39546C;
    color: white;
    text-align: center;
}

.bottom-footer{
    height: 80px;
    background-color: #2C3D50;
}

footer .top-footer .box-footer i{
    border: 1px solid white;
    border-radius: 50%;
    margin: 0px 5px;
}

.fa-facebook-f{
    padding: 10px 13px;
}

.fa-google-plus-g{
    padding: 10px 8px;
}

.fa-twitter{
    padding: 10px 10px;
}

.fa-linkedin-in{
    padding: 10px 12px;
}