header{
    height: 80px;
    background-color: #2C3D50;
    color: white;
    padding-top: 25px;
}

.mt-container{
    width: 70%;
    margin: 0 auto;
}

.p-container{
    width: 75%;
    margin: 0 auto;
}

.f-container{
    width: 78%;
    margin: 0 auto;
}

ul{
    margin-top: 5px;
    list-style: none;
    font-size: 13px;
}

ul li{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

li:hover{
    color: #1ABC9A;
}


.mt-jumbotrone{
    background-color: #1ABC9A;
    text-align: center;
    color: white;
    padding: 40px;
}

.mt-jumbotrone img{
    width: 120px;
}

.box-titolo{
    text-align: center;
    color: black;
    margin-bottom: 5px;
}

.box-img{
    margin-bottom: 10px; 
}

.box-img img{
    width: 100%;
    cursor: pointer;
}

.box-btn{
    text-align: center;
}

.about{
    padding: 40px;
    background-color: #1ABC9A;
    color: white;
}
.box-about{
    text-align: center;
}
.box-paragrafi{
    margin-top: 5px;
    margin-bottom: 5px;
}

.download{
    padding: 10px 15px;
    background-color: #1ABC9A;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

.download:hover{
    background-color: lightgray;
    color: black;
}

.contact, .about, .portfolio, footer{
    margin-top: 40px;
}

.titolo-contact{
    text-align: center;
}

.form-custom{
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
}
 
.custom-btn{
    background-color: #1ABC9A;
    border-color: #1ABC9A;
    padding: 8px 13px;
    border-radius: 5px;
}

.custom-btn:hover{
    background-color: lightgray;
    color: black;
    border: 1px solid lightgrey;
}

.box-copy{
    font-size: 10px;
    padding-top: 32px;
    text-align: center;
    color: white;
}

.margin-b{
    margin-bottom: 0px;
}

span{
    color: #1ABC9A;
}

.top-footer{
    padding-top: 30px;
    background-color: #39546C;
    color: white;
    text-align: center;
}

.bottom-footer{
    height: 80px;
    background-color: #2C3D50;
}

footer .top-footer .box-footer i{
    border: 1px solid white;
    border-radius: 50%;
    margin: 0px 5px;
}

.fa-facebook-f{
    padding: 10px 13px;
}

.fa-google-plus-g{
    padding: 10px 8px;
}

.fa-twitter{
    padding: 10px 10px;
}

.fa-linkedin-in{
    padding: 10px 12px;
}