header, .jumbotrone, main, footer{
    margin: 20px;
}

.box-header{
    height: 30px;
}

.box-jumbo{
    height: 300px;
}

.box-titolo{
    height: 100px;
    margin-top: 85px;
    margin-bottom: 5px;
}

.margini{
    margin: 10px 5%;
}

.box-img{
    height: 200px;
    border: 5px solid white;
}

.box-paragrafi{
    height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box-lista{
    margin-top: 5px;
}

.box-footer{
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 5px solid white;
}