header{
    height: 80px;
    background-color: #2C3D50;
    color: white;
    padding-top: 25px;
}



.mt-container{
    width: 80%;
    margin: 0 auto;
}

.mt-jumbotrone{
    background-color: #1ABC9A;
    text-align: center;
    color: white;
    height: 400px;
}

.mt-jumbotrone img{
    width: 120px;
}


.box-titolo{
    text-align: center;
    color: black;
    margin-top: 85px;
    margin-bottom: 5px;
}

.margini{
    margin: 10px 5%;
}

.box-img{
    margin-bottom: 10px; 
}

.box-img img{
    width: 100%;
}

.box-btn{
    text-align: center;
}

.about{
    background-color: #1ABC9A;
    color: white;
}
.box-about{
    text-align: center;
}
.box-paragrafi{
    margin-top: 5px;
    margin-bottom: 5px;
}

.box-lista{
    margin-top: 5px;
}

.box-copy{
    padding-top: 25px;
    text-align: center;
    color: white;
}

.top-footer{
    background-color: #39546C;
    color: white;
    text-align: center;
}

.box-footer{
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.bottom-footer{
    height: 80px;
    background-color: #2C3D50;
}